<%- include('./layouts/navbar.ejs')  %>

<h2>List Users</h2>

<% if (users.length > 0) { %>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover table-light">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nama</th>
                <th>Email</th>
                <th>Role</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
            <% users.forEach((users, i) => { %>
                <td><%= i + 1 %></td>
                <td><%= users.name %></td>
                <td><%= users.email %></td>
                <td><%= users.role %></td>
                <td>
                    <a href="/users/update/<%= users.id %>" button type= button class="btn btn-warning">Edit</a>
                    <a href="/users/delete/<%= users.id %>" button type= button class="btn btn-danger" onclick="return confirm('Kamu sudah yakin mau hapus data?')">Delete</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</form>
<% } else { %>
    <p>Tidak ada data users</p>
<% } %> 
